name: standalone
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2.1.0
        with:
          java-version: 8
          distribution: zulu
      - name: Build with Gradle
        run: ./gradlew :Standalone:build
      - name: Upload build JARs
        uses: actions/upload-artifact@v2.3.1
        with:
          name: build-jars
          path: Standalone/build/libs/*
